.brand-index {
  border-bottom: 1px solid #ddd;
  list-style: none;
  overflow: hidden;
  padding: 10px 0;
  @include clearfix;
  li {
    float: left;
    font-size: 14px;
    margin-right: 15px;
  }
  a {
    color: #4A4A4A;
    text-decoration: none;
  }
}

.brand-list {
  border-bottom: 1px solid #e5ddd3;
  column-count: 4;
  line-height: 2;
  list-style: none;
  padding: 0 0 15px;
  li {}
  a {
    color: #4A4A4A;
  }
}