.content-header {
  border-bottom: 1px solid #ddd;
}

.back-link {
  padding: 0.75rem 0;
  a {
    color: rgb(126, 133, 155);
  }
}

.breadcrumb {
  background: transparent;
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  li {
    text-transform: capitalize;
  }
  a {
    color: rgb(126, 133, 155);
  }
}

.breadcrumb-item.active {
  color: rgb(126, 133, 155);
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  font-size: 10px;
}