// Css for all categories page
.category-sitemap {
  list-style: none;
  padding: 0;
  a {
    color: #4A4A4A;
  }
  &> li {
    &> h2 {
      margin-bottom: 15px;
    }
  }
  .list-group {
    margin-bottom: 30px;
  }
  .list-group-item {
    background: transparent;
    border: 0;
    padding: 15px 0 0 40px;
  }
  .btn {
    color: #2461D1;
    margin-top: 5px;
    &:hover {
      color: #fff;
    }
  }
}

// Category Sidebar
.block {
  .block-title {
    border-bottom: 1px solid darken(#F2F3F7, 8%);
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    display: block;
  }
  a {
    color: #4A4A4A;
    display: block;
    font-size: 13px;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.block-filters {
  .filter {
    margin-bottom: 15px;
    padding: 0 10px;
  }
  .filter-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .filter-value {
    display: block;
  }
  label {
    font-size: 13px;
    padding-left: 23px;
    position: relative;
    &:before {
      background: #fff;
      border: 1px solid darken(#F2F3F7, 8%);
      border-radius: 2px;
      content: " ";
      display: inline-block;
      height: 16px;
      left: 0;
      line-height: 18px;
      top: 1px;
      position: absolute;
      width: 16px;
    }
    &.selected:before {
      color: #2461D1;
      content: "";
      font-family: icomoon;
      font-size: 12px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .show-more-or-less {
    display: block;
    margin: 0 8px 12px 24px;
    color: #2461D1;
    text-decoration: underline;
    font-size: 13px;
    text-transform: lowercase;
  }
}

.block-nav-category {}


// Category header
.category-header {
  background: darken(#F2F3F7, 4%);
  p {
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

// Product List
.product-list {
  .product-card {
    margin-bottom: 30px;
  }
}