footer{
  margin-top: 40px;
  padding-top:40px;
  .block-title{
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .leaf{
    width: 50%;
    float: left;
  }
    ul{
      padding: 0;
      li{
        list-style: none;
        line-height: 26px;
        a{
          color: var(--gray);
        }
      }/*li*/
    }/*ul*/
    .newsletter{
      margin-bottom: 20px;
      .form-control{
        background: #FEFEFE;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        box-shadow: 0 8px 12px 0 rgba(195,195,195,0.50);
        height: 40px;
        width: 100%;
      }
      .btn{
        background: #33b57b;
        right:0;
        border: 0;
        border-radius: 55px;
        height: 40px;
        width: 60px;
        color: white;
        font-size: 20px;
        &:hover{
          transition: .1s linear;
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
    .social{
      li{
        display: inline;
        margin-right: 10px;
        i{
          font-size: 24px;
          &:hover{
            color: var(--secondary);
          }
        }
      }
    }
    .footer-bottom{
      border-top: 1px solid var(--lighter-gray);
      padding: 20px 0 5px 0;
      margin-top:20px;
      li{
        display: inline;
        margin-right: 15px;
      }
    }
}/*footer*/
@media (max-width: 768px){
  footer{
    text-align: center;
  }
}
@media (min-width: 768px){
  .copy-right{
    text-align: right;
  }
}
@media (max-width: 576px){

}
