header{
  ul{
    padding:0;
    margin: 0;
    li{
    list-style: none;
    display: inline;
    margin-left: 20px;
      &.country{
        background: url(../images/united-arab-emirates.svg) no-repeat;
        padding-left:35px;
      }
    }
  }
  .btn{
    right:0;
    top: 0;
    background: none;
    border-left: 1px solid var(--light-gray);
    border-radius: 0;
    color: var(--primary);
  }
}

.mobile-header-top {
  top: 0;
  width: 100%;
  z-index: 100;
  .fa-bars {
    display: inline-block;
    font-size: 25px;
    height: 25px;
    left: 15px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    vertical-align: middle;
    width: 25px;
  }
}

.mobile-header-search {
  background: #fff;
  margin-top: 60px;
  .form-control {
    border: 0;
  }
}

@media (max-width: 768px){
  .country{
    display: none;
  }
}
@media (min-width: 768px){
  .page-header {
    position: relative;
    z-index: 200;
  }
  .search-mobile{
    display: none;
  }
}
