body.open-nav {
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.overlay {
  transition: opacity 0.3s;
}

.open-nav .overlay {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  opacity: 1;
  pointer-events: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.sidebar-nav {
  background: transparent;
  bottom: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}
.sidebar-nav-wrapper {
  background: #fafafa;
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: visible;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateX(-105%);
  transition: transform 0.2s ease-out;
  width: 80%;
  z-index: 10;
}

.open-nav {
  .sidebar-nav-wrapper {
    pointer-events: visible;
    transform: translateX(0);
    transition: transform 0.4s ease-out;
  }
}

.sidebar-nav-profile {
  background: #fff;
  border-bottom: solid 3px #e4e4e4;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: flex-start;
  .profile-pic {
    width: 36px;
    height: 36px;
    background: url('../images/logo-icon.png') no-repeat;
    background-size: contain;
  }
  .profile-user {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .profile-user-name {
    color: #222;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .profile-user-logout {
    color: #222;
    font-size: 14px;
    text-decoration: none;
  }
}

.sidebar-nav-list {
  list-style: none;
  max-height: 90%;
  overflow-y: scroll;
  padding-left: 0;
}

.nested-list-item,
.sidebar-nav-item {
  border-bottom: solid 1px #efefef;
}

.sidebar-nav-item-link {
  font-size: 14px;
  line-height: 24px;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 15px;
}

.toggle-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  transform: translate(100%);
  transition: opacity 0.2s, transform 0.3s;
}

.toggle-content.is-active {
  transform: translate(0);
  opacity: 1;
  overflow-y: scroll;
}

.hide-content-link {
  display: flex;
  font-size: 14px;
  color: #505050;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  min-height: 50px;
  align-items: center;
  background: #fff;
  border-bottom: solid 3px #e4e4e4;
}

.icon-back {
  background-size: 100%;
  background-position: 0px center;
  //background-image: url(/web-mobile/623cc1b….png);
}

.hide-content-text {
  vertical-align: middle;
  margin-left: 5px;
}

.nested-list-item-link {
  display: flex;
  color: #222;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 20px;
}