// Main navbar on desktop
.desktop-nav {
  position: relative;
  z-index: 300;
}

.main-nav-wrapper {
  position: relative;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

// Megamenu styles
.btn-department {
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 37px;
  position: relative;
  text-align: left;
  width: 234px;
  &:focus {
    color: #2461D1;
    outline: 0;
  }
  .fa-chevron-down {
    position: absolute;
    right: 15px;
    top: 13px;
  }
}

.nav-dropdown-wrapper {
  display: none;
  height: 481px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 100%;
  z-index: 200;
  .level-1 {
    background-color: lighten(#F2F3F7, 2%);
    border-right: 1px solid darken(#efefef, 4%);
    font-size: 14px;
    height: 480px;
    left: 0;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: max-height 500ms ease-out;
    &.expand {
      //max-height: 415px;
      overflow: visible;
    }
    &> .list-item {
      border-bottom: 1px solid #efefef;
      &:last-child {
        border-bottom: 0;
      }
      &>a {
        color: #4A4A4A;
        display: block;
        font-size: 13px;
        padding: 10px;
        position: relative;
        width: 230px;
        .fa-chevron-right {
          position: absolute;
          right: 15px;
          top: 13px;
        }
      }
    }
  }
  .level-2-container {
    background-color: #fff;
    display: none;
    height: 480px;
    left: 100%;
    min-height: 480px;
    padding: 10px 20px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 382%;
    .content-wrapper {
      column-count: 3;
      flex: 72% 0 0;
      margin-right: 0;
      ul {
        list-style: none;
        padding-left: 0;
      }
      .level-2 {
        padding-right: 10px;
        &>li {
          margin-bottom: 20px;
          &>a {
            color: #4A4A4A;
            display: block;
            font-weight: 600;
            margin-bottom: 0;
            position: relative;
          }
        }
      }
      .level-3 {
        a {
          color: #4A4A4A;
          display: block;
          font-size: 13px;
          font-weight: 400;
          padding: 2px 0;
        }
      }
    }
  }
  li.active .level-2-container {
    display: flex;
  }
}

.nav-landing-pages,
.nav-shop-nav {
  li {
    display: inline;
    margin: 0 5px;
  }
  a {
    color: #4A4A4A;
    line-height: 37px;
    padding: 1px 7px 2px;
  }
}

.nav-landing-pages {
  display: block;
  list-style-type: none;
}

.nav-shop-nav {
  margin-left: auto;
  li {
    &:last-child {
      margin-right: 0;
      a {
        padding-right: 0;
      }
    }
  }
}

// Overlay
.megamenu-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  content: " ";
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.megamenu-open {
  //overflow: hidden;
  .megamenu-overlay {
    display: block;
  }
  .nav-dropdown-wrapper {
    display: block;
  }
}