.product-card {
  background: #fff;
  line-height: 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 15px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 6px 10px 0 #C6C6C6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .product-img-wrapper {
    height: 150px;
    margin-bottom: 19px;
    margin-top: -4px;
    max-height: 180px;
    position: relative;
    text-align: center;
    padding: 10px;
    .img-fluid {
      max-height: 150px;
    }
  }

  .product-details {
  }

  .product-shop {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .product-name {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4em;
    height: 2.8em;
    margin-bottom: 10px;
    max-height: 2.8em;
    overflow: hidden;
    a {
      color: #404553;
      &:hover {
        text-decoration: none;
      }
    }

  }

  .actions {
    @include clearfix;
  }

  .price-box {
    .old-price {
      color: #7E859B;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 0.2em;
      text-decoration: line-through;
      &.lowest {
        text-decoration: none;
      }
    }
    .price {
      font-weight: 600;
      color: #33b57b;
      font-size: 16px;
      span {
        font-size: 10px;
        color: #7E859B;
      }
    }

  }

  .button {
    float: right;
  }
}

.promotions {
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  right: -5px;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 100;
  zoom: 1;
  .label {
    color: #fff;
    line-height: 20px;
    padding: 2px 5px;
    text-align: left;
    &.discount {
      background-color: #F9453B;
      border-radius: 5px;
    }
  }
}
