.nav-tabs {
  border-bottom: 0;
  .nav-link {
    border: 1px solid #2461D1;
    border-radius: 2px;
    color: #2461D1;
    margin-right: 10px;
    &.active {
      background-color: #2461D1;
      border: 1px solid #2461D1;
      color: #fff;
    }
    &:hover {

      border: 1px solid lighten(#2461D1, 10%);
    }
  }
}