.featured {
  .nav {
    display: block;
    margin: 16px 0;
    overflow: scroll;
    padding: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar, &::-webkit-scrollbar {
      height: 0;
      background: transparent;
    }
    li {
      display: inline-block;
      background: none;
      list-style-type: none;
      margin-bottom: 0;
      padding: 2px;
      white-space: nowrap;
    }
  }
}

.categories {
  .category-card {
    background: #fff;
    border: 1px solid #fff;
    box-shadow: inset 0 -1px 0 0 #d9e4eb;
    line-height: 15px;
    margin: 0.7em 0 1.4em;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .category-img-wrapper {
    margin-top: -4px;
    padding-bottom: 0.7em;
    position: relative;
  }

  .category-details {
    padding: 0 10px 10px 10px;
  }

  .category-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    height: 1.4em;
    margin-bottom: 0;
    max-height: 2.4em;
    overflow: hidden;
    a {
      color: #404553;
    }
  }
}