.page__header {
  background: $primary;
  padding: 10px 0;
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__menuicon {
  @media (min-width: 768px) {
    margin-right: 20px;
  }
  @media (min-width: 1024px) {
    display: none;
  }
}

.header__menuicon--icon {
  font-size: 20px;
}

.header__searchicon {
  @media (min-width: 768px) {
    display: none;
  }
}

.header__searchicon--icon {
  font-size: 20px;
}


.header__logo {}

.header__logo--img {}


.header__search {
  display: none;
  position: relative;
  @media (min-width: 768px) {
    display: inline-block;
    margin-left: 90px;
    width: 100%;
  }
}

.search__input {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 5px;
  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0;
  }
  .fa-arrow-left {
    font-size: 18px;
    margin-right: 15px;
    margin-top: 10px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.header__search--input {
  border-color: #4ce3a0;
  margin-bottom: 5px;
  @media (min-width: 768px) {
    border-color: #fff;
    margin: 0;
  }
}

.header__search--btn {
  background: transparent;
  border: 0;
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 15px;
  @media (min-width: 768px) {
    right: 5px;
    top: 5px;
  }
}

.search-open {
  overflow: hidden;
  .header__search {
    background: #fff;
    display: block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}


.header__searchicon {}


.page__navigation {
  background: #fff;
  position: relative;
}

.nav__container {
  display: flex;
  flex-direction: row;
  height: 45px;
  overflow: -moz-scrollbars-none;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:after {
    background: #FFF;
    box-shadow: -1px 0 24px 30px #FFF;
    content: " ";
    height: 100%;
    position: sticky;
    right: 0;
    top: 0;
    width: 1px;
    @media (min-width: 768px) {
      display: none;
    }
  }
}


.btn__department {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 30px;
  &:hover,
  &:focus {
    outline: 0;
  }
}

.btn__department--icon {
  &.fa-chevron-down {
    margin-left: 20px;
  }
}

.btn__department--text {}

.mainnav {
  align-items: center;
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 30px 0 0;
  transform: translateX(0px);
  @media (min-width: 768px) {
    padding: 0;
    width: 100%;
  }
}

.mainnav__item {
  flex-shrink: 0;
  white-space: nowrap;
  &.department {
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  @media (min-width: 768px) {
    &.coupon {
      margin-left: auto;
    }
  }
}

.mainnav__item--link {
  color: $gray;
  padding: 0 8px;
  &:hover,
  &:focus {
    color: $primary;
    outline: 0;
  }
}
