.catnav {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.catnav__wrapper {
  height: 100%;
  max-width: 360px;
  overflow: hidden;
  padding-top: 48px;
  position: relative;
  width: calc(100% - 48px);
}

.catnav__title {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d9e4eb;
  display: flex;
  font-size: 16px;
  line-height: 27px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  .btn__close--icon {
    margin-left: auto;
    margin-right: 10px;
  }
}

.catnav__menu {
  background-color: #fff;
  height: 100%;
  list-style: none;
  overflow: scroll;
  padding-left: 0;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  &.level-2,
  &.level-3 {
    width: 100%;
  }
}


body {
  &::after {
    background: rgba(28,57,76,0.6);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition-delay: 0s, .2s, .2s;
    transition-duration: .2s, 0s, 0s;
    transition-property: opacity, visibility, z-index;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    visibility: hidden;
    width: 100%;
    z-index: 100;
  }
}

.megamenu-open {
  overflow: hidden;
  &::after {
    opacity: 1;
    transition-delay: .15s, 0s, 0s;
    transition-duration: .5s, 0s, 0s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    visibility: visible;
  }
  .catnav {
    z-index: 3001;
    visibility: visible;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    transform: translateX(0);
  }
}


.catmenu__item {}

.catmenu__item--link {
  align-items: center;
  border-bottom: 1px solid #d9e4eb;
  color: $gray;
  display: flex;
  padding: 12px;
  .fa-chevron-right {
    margin-left: auto;
    margin-right: 10px;
  }
  &:hover,
  &:focus,
  &:active {
    color: $primary;
    text-decoration: none;
  }
}




.toggle-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  transform: translate(100%);
  transition: opacity 0.2s, transform 0.3s;
  &.is-active {
    opacity: 1;
    transform: translate(0);
  }
}

.hide-content-link {
  align-items: center;
  background: #fff;
  border-bottom: solid 3px #e4e4e4;
  color: #505050;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  min-height: 50px;
  padding: 10px;
  text-decoration: none;
}