.pdp-header {
  background: #fff;
  margin-top: 1px;
  padding: 15px 0 60px;
  @media (min-width: 768px) {
    padding: 0 0 60px;
  }
}

.pdp-header__meta {
   margin-bottom: 60px;
 }

.pdp-header__title {
  margin: 0 0 15px 0;
}

.pdp-header__title--name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.pdp-header__meta-item {
  display: inline-block;
  padding-right: 1em;
  position: relative;
  vertical-align: middle;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '\|';
  }
  &:last-of-type:after {
    content: '';
  }

  .rating-stars {
    padding-bottom: 0;
  }
}

.rating-stars {
  display: inline-block;
  position: relative;
  cursor: default;
  width: 81px;
  color: #dddbd5;
}

.rating-stars__value {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffc723;
}

.rating-stars,
.rating-stars__value {
  &:before {
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}


.pdp-header__image {
  display: flex;
  max-width: 500px;
  overflow: hidden;
}

.pdp-header__image--thumb {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-right: 30px;
    width: 80px;
  }
}

.image__thumb--item {
  border: 1px solid #F2F3F7;
  margin-bottom: 10px;
}

.image__thumb--img {
  width: 78px;
  max-width: 400px;
}

.pdp-header__image--main img {
  border: 0;
}

.owl-carousel.owl-drag .owl-item {
  overflow: hidden;
}

.pdp-header__offers {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}


@media (min-width: 768px) {
  .pdp-header__offers--title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px;
  }

  .pdp-offers__shops {
    list-style: none;
    padding: 0;
  }

  .pdp-offers__shops--item {
    align-items: center;
    border-bottom: 1px solid #F2F3F7;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .pdp-offers__shops--item:last-child {
    border: 0;
    padding-bottom: 0;
  }
}


.is-hidden {
  display: none;
}

.brand-name {
  text-transform: capitalize;
}

.description {
  div {
    background: transparent !important;
    color: var(--gray);
  }
  h1, h2, h3, h4, h5, h6, p, b {
    color: var(--gray);
    text-align: left !important;
  }
  p, b {
    font-weight: 400;
  }
  .button.threesixtyToggler {
    display: none;
  }
  .columns,.large-12,.large-11,.large-10,.large-9,.large-8,.large-7, .large-6, .large-5, .large-4, .large-3, .large-2, .large-1, .medium-12,.medium-11,.medium-10,.medium-9,.medium-8,.medium-7, .medium-6, .medium-5, .medium-4,
  .medium-3, .medium-2, .medium-1, .small-12, .small-11, .small-10, .small-9, .small-8, .small-7, .small-6, .small-5, .small-4, .small-3, .small-2, .small-1,
  .row > h4, .row > p {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    img{
      max-width: 100%;
    }
  }
  .row > h4, .row > p  {
    max-width: 100%;
    flex: 0 0 100%;
  }
  @media (min-width: 768px) {
    .medium-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 992px) {
    .large-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

