// Bootstrap
@import "front/_variables";
@import "~bootstrap/scss/bootstrap";

// Components
@import "front/components/header";
@import "front/components/navigation";
@import "front/components/breadcrumbs";
@import "front/components/product-page";

// Partials
//@import "front/partials/navbar";
//@import "front/partials/mobile-nav";
@import "front/partials/tabs";
@import "front/partials/brands";
@import "front/partials/categories";
@import "front/partials/product-list";
@import "front/partials/widgets";
@import "front/partials/footer";

// Modules
@import "front/modules/owlcarousel/owl.carousel";

@import "front/rtl";

:root {
  --primary: #2461D1;
  --secondary: #33b57b;
  --font-family-sans-serif: 'Poppins', sans-serif;
  --lighter-gray: #DFDFDF;
  --gray: #4A4A4A;
  --light-gray: #F3F3F3;
  --base: #212529;
  --red: #F9453B;
  --background: #F2F3F7;
}

body {
  font-family: 'Poppins', sans-serif;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--background);
  line-height: 24px;
}
.app-header {
  height: 70px;
  padding: 10px 0;
  // .logo-wrapper {
  //   display: inline-block;
  //   height: 50px;
  //   margin-right: 10px;
  //   position: relative;
  //   text-align: left;
  //   vertical-align: middle;
  //   white-space: nowrap;
  // }

  .outer-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inner-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
  }
  .logo-wrapper {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
  }
  .logo {
    font-size: 28px;
    text-decoration: none;
    vertical-align: middle;
  }
  .search-wrapper {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-order: initial;
    order: 0;
    .form-inline {
      margin: 0 20px;
    }
  }
  .language-wrapper {
  }
}
/*Prduct page*/
.product-info{
  padding: 10px 0;
  margin-bottom: 20px;
  border-top: 1px solid var(--lighter-gray);
  border-bottom: 1px solid var(--lighter-gray);
  dl{
    margin-bottom: 0;
    dt, dd{
      margin-bottom: 0;
    }
    dt{
      font-weight: 400;
    }
    dd{
      font-weight: 600;
    }
  }
}
.orginal_price{
  font-size: 14px;
  color: $gray-600;
  text-decoration: line-through;
  line-height: 14px;
}
.special_price{
  font-size: 20px;
  font-weight: 600;
}
.discount-percentage{
  bottom: 40px;
  background-color: var(--red);
  padding:3px 8px;
  font-size: 12px;
  font-weight: 600;
}
/*Product teaser*/
.product-teaser{
    h3{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
      a{
        color: var(--base);
        &:hover{
          text-decoration: none;
          color: var(--primary);
        }
      }
    }
    .special_price{
      font-size: 16px;
    }
    .price-box{
      float: left;
    }
    a.buy-now{
      font-size: 30px;
      float: right;
      color: var(--secondary);
      line-height: 31px;
      &:hover{
        -webkit-transition: .1s linear;
        transition: .1s linear;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        color: #f88416;
      }
    }
}

/*compare-block*/
.compare-block{
  ul{
    li{
      list-style: none;
      border: 1px solid var(--lighter-gray);
      padding: 15px;
      margin-bottom: 15px;
      &:hover{
        border: 1px solid var(--primary);
      }
      .truck{
        top: 50%;
        left: -20px;
        background: var(--primary);
        padding: 10px 12px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      .price{
        font-size: 26px;
        span{
          font-size: 11px;
        }
      }
      .product-details{
        i{
          font-size: 12px;
          width: 25px;
        }
      }
      .modal-header{
        background: var(--primary);
      }
      .coupon-code{
        padding: 10px;
        border: 1px dashed #CCC;
        border-radius: 5px;
        font-size: 30px;
      }
      .copy{
        cursor: pointer;
        color: var(--secondary);
      }
    }
  }
}
/*btn*/
.btn-lg, .btn-group-lg > .btn{
  padding: 0.6rem 1.8rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  &:hover{
    text-decoration: none;
  }
}
.btn.btn-secondary{
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  color: #FFF;
  &:hover{
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}

// categories list -- cats__widget --
.cats__widget {
  margin-top: 3em;
  .cats__widget--title{
    color: var(--primary);
    margin-bottom: 10px;
  }
  ul.catslist {
    padding: 0;
    margin-bottom: 0;
  }
  .catlist__item {
    list-style: none;
    padding-bottom: 10px;
  }
  .catlist__item--link {
    color: var(--base);
    i {
      margin-right: 5px;
      font-size: 10px;
    }
  }
}

// after footer
.after-footer {
  padding-top:30px;
}
