:root {
  --primary: #2461D1;
  --secondary: #33b57b;
  --font-family-sans-serif: 'Poppins', sans-serif;
}

$theme-colors: (
  "gray": #4A4A4A,
  "primary": #2461D1,
  "secondary": #33b57b
);

$gray: #4A4A4A;
$primary: #2461D1;